---
---

@import "{{ site.theme }}";

.important {
  border: 1px solid black;
}

textarea, iframe {
  margin: 0;
  display: block;
}

iframe {
  border: 0px none;
}

textarea {
  resize: none;
}

#result, #result > iframe {

}

/* Alternate: enable flex */
#result {
  background: #333;
}

.post-content h1, h2, h3, h4, h5, h6 {
  color: #2d2d2d;
  font-weight: 700 !important
}

table td, table th {
  padding: 15px;
}

hr {
  margin: 25px 25px 25px 0;
}

.post-content .notice {
  color: #17a81a;
  border: dotted;
  padding: 50px;
  text-align: center;
}

.wrapper {
  margin-left: 30% !important;
}

/* ==========================================================================
   Table of Contents
   ========================================================================== */

@media screen and (max-width: 1600px) {
  #markdown-toc {
    // display: none !important;
    position: static !important;
    left: auto !important;
    right: auto !important;
    float: none !important;
    top: auto !important;
  }

  .wrapper {
    margin-left: auto !important;
  }
}


#markdown-toc {
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  bottom: 5%;
  height: 95%;
}

#markdown-toc {
  right: 370px;
  min-width: 260px;
  max-width: 400px;
  max-height: 100%;
  overflow-y: auto;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.5;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 4em;
  pointer-events: auto;
}

#markdown-toc ul {
  list-style: none;
  padding-left: 2em;
  padding-right: 2em;
}

#markdown-toc li {
  padding-left: 0;
}

#markdown-toc a {
  color: inherit;
}

#markdown-toc h1 {
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-size: 1.1em;
  text-align: center;
}

#markdown-toc h1 + h2 {
  border-top: 1px solid #eee;
  padding-top: 0.6em;
}

#markdown-toc li.h2 {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  text-indent: -0.8em;
  font-style: italic;
  line-height: 1.2;
}

.toc-active {
  color: #57A3E8 !important;
}

