---
layout: default
---

<div style="display: inline; margin: 0" class="home">
	<div style="margin-bottom: 50px" class="organizers">
	  <img style="margin: 50px; width: 30%;" alt="Qt logo" src="{{ "/assets/images/qt-logo.png" | absolute_url }}" />
	  <span style="font-size: 50px">+</span>
	  <img style="margin: 50px; width: 30%;" src="{{ "/assets/images/liekki.svg" | absolute_url }}" alt="University of Helsinki">
	</div>
	<h1>Welcome to the Beta Qt MOOC!</h1>
	<h2>Start date is 2018-06-11</h2>
	<p><a href="https://courses.helsinki.fi/en/tkt21023/125055674">Enrol to beta course</a></p>
	<p><a href="https://github.com/TestMyQt/Qt-CreatorTMC/releases/download/v1.0/qtcreator-tmc-linux-v1.0.zip">Download the TMC plugin for Linux</a></p>

        <li><a href="irc://#qt-mooc@irc.freenode.net">#qt-mooc @ freenode</a></li>
        <li><a href="https://webchat.freenode.net/?channels=qt-mooc">Freenode webchat</a></li>
        <li><a href="https://t.me/joinchat/FdRoUFI0awxijE4mEA72bg">Telegram bridge to #qt-mooc @ freenode</a></li>
        <li><a href="https://riot.im/app/#/room/#freenode_#qt-mooc:matrix.org">Riot bridge to #qt-mooc @ freenode</a></li>
</div>
